<!DOCTYPE html>
<html lang="es_ES">
	<head>
		<meta charset="utf-8" />

		<link rel="stylesheet" href="{{STATIC_URL}}css/base.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="all">
		<link rel="stylesheet" href="{{STATIC_URL}}css/fuentes.css" type="text/css"/>
		<link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css" type="text/css" media="all">
		<script src="{{STATIC_URL}}js/jquery-1.3.2.js"></script>
		<!--
		<script>
		$(document).ready(function() {
		$('#aparecer').click(function() {
		$("#oculto").slideDown("slow");
		});
		$('#cambiar').click(function() {
		$("#oculto").html("Hola a todos");
		});

		$('#ocultar').click(function() {
		$("#oculto").slideUp("slow");
		});

		$('#color').click(function() {
		console.log("entro a color")
		$("#oculto").css({
		"background-color": "#000000",
		"color": "#ffffff"
		})
		});
		});
		</script>-->
	</head>
	<body>
		<div class="wrapper">

			<header id="header" class="header ">
				<div class="container">

					<a href="/" title="full eventos" class="logo"> <img src="{{STATIC_URL}}images/evento7.gif?v=1.0" alt="full eventos" height="50" width="200" /> </a>

					<nav class="menu">
						<ul class="lista">

							<li class="tab ">
								<a href="/cursos/" title="cursos">Musica</a>
							</li>
							<li class="tab ">
								<a href="/horarios" title="Horarios">Deportes</a>
							</li>
							<li class="tab ">
								<a href="/conferencias" title="Conferencias">Conciertos</a>
							</li>
							<li class="tab ">
								<a href="/videos" title="Videos">Videos</a>
							</li>

							<li class="tab ">
								<a href="/podcast" title="Podcast">Mas</a>
							</li>
							<li class="tab" data-display="social-login">
								<a class="ancla-menu" href="https://cursos.eventos.lo" title="Eventos"> <img src="{{STATIC_URL}}images/icon3.jpg" alt="eventos.lo" height="20" width="20" /> Login </a>
							</li>
							<li class="tab" data-display="social-login">
								<a class="ancla-menu" href="https://upeu.edu.pe/login/facebook" class="btn facebook small icon-facebook" > <img src="{{STATIC_URL}}images/icon1.jpg" alt="mejorando.la" height="30" width="30" /></a>
							</li>
						</ul>
					</nav>
					<div class="display-menu icon-menu"></div>
				</div>
				<div class="social-login">
					<div class="container">
						<p>
							<span>Vive a la mejor experiencia en los eventos de tu ciudad</span>
							<a href="https://upeu.edu.pe/login/facebook" class="btn facebook small icon-facebook">Conéctate con Facebook</a>
						</p>
					</div>
				</div>
			</header>

			<div class="main clearfix home">
				<div class="container internal-padding clearfix">
					<div class="">
						<h2 class="title"> Crea tus eventos GRATIS!!
						<br />
						<strong>Sé el primero en enterarte
						<br />
						de los eventos en tu localidad</strong></h2>
						<ul class="list">
							<li class="item">
								En tu <strong>ciudad</strong> donde te encuentres
							</li>

							<li class="item">
								Comparte <strong>con tus patas</strong>, al instante
							</li>
							<li class="item">
								Encuentra un <strong>Evneto</strong>, vivas donde vivas
							</li>
						</ul>
						<a href="/cursos" class="btn black">Has tu reserva ya</a>
					</div>

				</div>
			</div>

			<section class="subscribe clearfix home">
				<div class="container internal-padding clearfix">
					<div class="bird"></div>
					<div class="right">
						<div class="gmail-message">
							<p class="user-mail">
								usuario@gmail.com
							</p>
							<p class="text-mail">
								para garantizar que recibas los mails con <strong>noticias de Eventos-upeu</strong> asegúrate de buscar nuestros correos en Promociones/Promotions y <strong>trasladarlos a tu inbox</strong>
							</p>
						</div>
					</div>
					<div class="form right subscription">
						<p class="msg">
							¿Quieres ser el <strong>1ro</strong> en saber de los eventos y <strong>gratis?</strong>
						</p>

						<form action="/hola"  method="POST" id="subscription">
							<div class="input-content wrap-wide ">
								<span class="icon-at"></span>
								<input type="email" name="email" required title="Escribe tu email" class="input email" placeholder="Email"/>
							</div>
							<div class="input-content wrap-wide hidden">
								<span class="icon-user"></span>
								<input type="text" name="nombre" required title="Escribe tu nombre" class="input name" placeholder="Nombre"/>
							</div>
							<div class="input-content wrap">
								<input type="submit" class="btn yellow" value="Suscríbete"/>
							</div>
						</form>
					</div>
				</div>
			</section>

			{% if eventos %}

			<article id="content">
				<div class="wrap" style="margin: 0 auto;">

					{% for e in eventos %}
					<section class="cols" >
						<div class="box">
							<div>
								<h1>Evento <span>Destacados!</span></h1>
								<figure><img src="{{MEDIA_URL}}{{e.imagen}}" height="300" width="300">
								</figure>
								<p>
									{{e.nombre}}
								</p>
								<p>
									{{e.descripcion}}
								</p>

								<a href="#" class="button1">Precio</a>ver mas
							</div>
						</div>
					</section>

					{% endfor %}
					{% else %}
				</div>
			</article>

			{% endif %}
			<!--
			<div class="live-banner">
			<div class="gradient">
			<div class="logo-live">
			<h2>Eventos Cercanoo</h2>

			{% if eventos %}

			{% for e in eventos %}

			<p>{{e.nombre}}</p>
			<p>{{e.descripcion}}</p>
			<p> <img src="{{MEDIA_URL}}{{e.imagen}}"></p>

			{% endfor %}
			{% else %}

			<h2>no se registraron eventos</h2>

			{% endif %}
			</div>
			</div>
			</div>

			-->
		</div>

		<footer id="footer" class="footer clearfix">
			<div class="container">
				<img src="/static/images/logos/mejorandola-white.png" alt="Mejorando.la" width="158" height="36">
				<div class="right social-follow">
					<div>
						<span>Síguenos</span>
						<a href="//twitter.com/" class="icon-twitter" target="_blank"></a>
						<a href="https://www.facebook.com" class="icon-facebook"  target="_blank"></a>
						<a href="https://plus.google.com" class="icon-google-plus"  target="_blank"></a>
					</div>
				</div>
			</div>
		</footer>
		<script data-main="{{STATIC_URL}}js/home.js" src="{{STATIC_URL}}js/require-jquery.js"></script>
	</body>
</html>

